html(lang="vi")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    div(id='app') !{main}
  script(src='/dist/runtime.js', async)
  link(rel="stylesheet" href="/dist/blog.css", async)
  script(src='/dist/blog.js', async)